/* print invoice */

@media print {

    /* Hide everything by default */
    body * {
        visibility: hidden;
    }

    /* Show only invoice container */
    .invoice,
    .invoice * {
        visibility: visible;
    }

    /* Position invoice properly */
    .invoice {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
    }

    /* Explicitly hide navbar & footer */
    nav,
    footer,
    .navbar,
    .footer,
    .btn {
        display: none !important;
    }
}

/* hide radio button */
.rate > input {
    display: none;
}

.rate {
    display: inline-block;
    border: 0;
}

.rate > label {
    float: right;
}

/* showing star */

.rate > label:before {
    display: inline-block;
    font-size: 1.1rem;
    font-family: FontAwesome;
    content: "\f005";
    margin: 0;
    padding: 0.3rem .2rem;
    cursor: pointer;
}

.rate .half:before {
    content: "\f089";
    position: absolute;
    padding-right: 0;
}

/* Click and hover */
input:checked ~ label, label:hover ~ label{
  color: #ffb503;
}

/* hover hightlight */
input:checked + label:hover, input:checked ~ label:hover,input:checked ~ label:hover ~ label,
label:hover ~ input:checked ~ label{
  color: #cc9000;
}

.rating-star i {
    color: #ffb503;
}

ul.thumb {
    margin: 0 auto;
    padding: 0;
    float: left;
}

ul.thumb li {
    list-style: none;
    margin: 10px;
}

ul.thumb li img{
    height: 80px;
    width: 80px;
    border: 1px gray solid;
}