<!-- ========================= FOOTER ========================= -->
<footer class="section-footer border-top bg-white">
	<div class="container-fluid px-4">

		<!-- MAIN FOOTER -->
		<div class="row text-center text-md-left align-items-center">

			<!-- Left -->
			<div class="col-md-4 mb-3 mb-md-0">
				<strong>StyloKart</strong>
				<p class="text-muted small mb-0">
					Demo E-commerce project built with Django
				</p>
			</div>

			<!-- Center -->
			<div class="col-md-4 mb-3 mb-md-0 text-center">
				<i class="fa fa-envelope mr-2"></i>
				<strong>
					<a href="mailto:alokbindd@gmail.com">
						alokbindd@gmail.com
					</a>
				</strong>
			</div>

			<!-- Right -->
			<div class="col-md-4 text-md-right text-center text-muted small">
				&copy; <span id="year"></span> StyloKart
			</div>

		</div>

		<!-- DEVELOPER CREDIT -->
		<hr class="my-1">

		<div class="row">
			<div class="col text-center medium text-muted">
				Developed with <span class="text-danger">❤</span> by
				<strong><a href="https://linkedin.com/in/alokbind">Alok Bind</a></strong>
				&nbsp;|&nbsp;
				<i class="fa fa-map-marker mr-1"></i>
				Navi Mumbai, India
			</div>
		</div>

	</div>
</footer>
<!-- ========================= FOOTER END // ========================= -->
<script>
  document.getElementById("year").textContent = new Date().getFullYear();
</script>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

<script>
	$(document).ready(function () {
		$('.thumb a').click(function (e) {
			e.preventDefault();
			$('.mainImage img').attr('src', $(this).attr('href'));
		});
	});
</script>

</body>

</html>